body:has(.mode input:checked) .light {
    display: block;
    color: white;
}

body:has(.mode input:checked) .dark {
    display: none;
}

:root:has(.mode input:checked) {
    --main-color: #c17e1f;
    --secondary-color: #fff;
    --gray-color: #252525;
    --text-color: #9f9f9f;
    --txt-color: #fff;
    --bg-color: #171717;
    --body-color: #202020;
    --bg-hover-color: #d78c23;
    --btn-color: #171717;
}


body:not(:has(:target)):has(.mode input:checked) .home-link,
body:has(.home:target):has(.mode input:checked) .home-link,
body:has(.chefs:target):has(.mode input:checked) .chefs-link,
body:has(.gallery:target):has(.mode input:checked) .gallery-link,
body:has(.contact:target):has(.mode input:checked) .contact-link {
    color: #fff !important;
}  

body:has(.mode input:checked) nav .links a:hover {
    color: #fff;
}

body:has(.mode input:checked) .navs i {
    color: white;
}
/*************main*************/
body:has(.mode input:checked) main p {
    color: var(--text-color);
}
/*************main*************/

/*************chefs*************/
body:has(.mode input:checked) .chefs .boxs .box picture::before {
    background-image: url(../images/team-shape-dark.svg);
}
/*************chefs*************/


/*************contact*************/
body:has(.mode input:checked) .contact .contact-content .box {
    background-color: #0d0d0d;
}

body:has(.mode input:checked) .contact .contact-content .box i {
    color: #171717;
}
/*************contact*************/
